
.container {
  position:relative;
  text-align: center;
  color: black;
 
}

.texte_centrer {
  position: absolute;
  color: white;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.border-5 {
  border-width:10px !important;
  }

.nav-item {
  font-weight: bold;
}

